.question-section {
    color: white;
    font-size:30px ;
    margin-top: 12vh;
    height: 100vh;
    text-align: center;
}
.question{
    margin-top: 30px;
}

.academics-img{
    width: 40vw;
    object-fit: cover;
    border-radius: 20px;
}


.academic-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    /* margin-top: 30px; */
    font-family: Poppins;
    color: white;
    margin-top: 20vh;
}



canvas {
    background-color: transparent; 
    border-radius: 10px;
    width: 50vw ;
    height: 50vh;
    margin: 0 auto;
    /* padding: 10px; */
}

/* .degree-chart-container,.platform-chart-container{
    width: 600px;
    height: 600px; 
    margin: 0 auto; 
} */


/* .minors-chart-container, .cpi-chart-container, .core-chart-container,.higher-studies-chart-container{
    width: 70vw;
    height: 70vh; 
    margin: 0 auto;
} */

/* .cpi-chart-container{
    width: 600px;
    height: 600px; 
    margin: 0 auto; 
} */


/* .platform-chart-container{
    width: 600px;
    height: 600px; 
    margin: 0 auto; 
} */