.question-section {
    color: white;
    font-size: 30px;
    margin-top: 20vh;
    height: 100vh;
    text-align: center;
}

.question {
    margin-top: 30px;
}



.career-img {
    width: 60vw;
    object-fit: cover;
    border-radius: 20px;
}

.career-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-family: Poppins;
    color: white;
    margin-top: 20vh;
}

canvas {
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.job-type-chart-container {
    width: 600px;
    height: 600px; 
    margin: 0 auto; 
}

.interview-prep-chart-container,.company-type-chart-container,.location-chart-container,.entrepreneurship-chart-container {
    width: 70vw;
    height: 70vh; 
    margin: 0 auto;
}

