.question-section {
    color: white;
    font-size: 30px;
    /* margin-top: 20vh; */
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.question {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.political-img {
    width: 40vw;
    object-fit: cover;
    border-radius: 20px;
}

.political-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-family: Poppins;
    color: white;
    margin-top: 20vh;
}

canvas {
    background-color: transparent;
    border-radius: 10px;
    width: 50vw ;
    height: 50vh;
    margin: 0 auto;
}

/* .interest-chart-container,.party-chart-container {
    width: 600px;
    height: 600px;
    margin: 0 auto; 
}

.news-chart-container,
.opinion-chart-container,
.voting-chart-container {
    width: 70vw;
    height: 70vh;
    margin: 0 auto; 
    max-width: 800px; 
} */