body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #333333;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

p {
    margin: 0;
}

.logo {
    min-width: 10.5rem;
    /* height: 6vh; */
    padding: 0.3rem;
    background-color: #FF4081;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    transition: 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.logo-img {
    width: 6.5rem;
}

.button {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    background-color: #FF4081;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 1.3rem;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background-color: #D81B60;
    transition: 0.2s ease-in-out;
}

.nav-bar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    /* left: 0; */
    position: fixed;
    width: 95vw;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.hamburger {
    display: none;
    font-size: 2.6rem;
    color: white;
    cursor: pointer;
}

.close-button {
    display: none;
}

.nav-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 900px) {
    .hamburger {
        display: inline-block;
        transition: all 0.2s ease-in-out;
    }

    .close-button{
        display: none;
        cursor: pointer;
        font-size: 2.6rem;
        transition: all 0.2s ease-in-out;
    }

    .nav-bar{
        display: flex;
        flex-direction: row;
        transition: all 0.2s ease-in-out;
        position: fixed;
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
        transition: all 0.2s ease-in-out;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateY(-100%);
        opacity: 0;
    }

    .enlarged-links a {
        font-size: 1.6rem; 
        transition: font-size 0.3s ease;
    }
    body.lock-scroll {
        overflow: hidden;
    }
    
    .column-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .show{
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }
    .disappear{
        display: none;
    }
    /* .logo {
        display: none;
    } */

    .navBar-mobile{
        width: 100vw;
        height: 100vh;
    }

    .headings{
        margin-top: 5vw !important;    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FF4081;
        border-radius: 1rem;
        width: 80vw !important;
    }

    .headings h1{
        font-size: 8vw;
    }
    .headings h2{
        font-size: 5vw;
    }

    .logo-img {
        width: 22vw;
    }

    .convo-img-container .section-img-container{
        margin-top: 10vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .convo-img {
        height: 90vw !important;
    }

    .acad-img{
        /* width: 80vw !important; */
    }

    .about-container{
        width: 80vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        flex-direction: column;
        margin-top: 10vw !important;
        /* margin-bottom: 5vw !important; */
    }
    
    .section{
        margin-top: -30vw !important;
        margin-bottom: -30vw !important;

    }

    .section-heading{
        font-size: 8vw;
        /* margin-top: 10vw !important; */
        text-align: center;
        padding: 3vw !important;
        width: 90vw !important;
        color: white !important;
        background-color: #FF4081 !important;
        border-radius: 5vw !important;
        font-weight: bold !important;
    }

    .footer-container{
        width: 100%;
        box-sizing: border-box;
        background-color: #FF4081;
        padding: 5vw !important;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        /* gap: 10vw; */
    }

}

.headings {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF4081;
    border-radius: 20px;
    width: 600px;
    color: white;
    padding: 10px;
    margin-bottom: 30px;
}

.convo-img-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.convo-h1 {
    font-size: 50px;
    margin: 0;
}

.h1-sub-heading {
    margin: 0;
}

.convo-img, .heading-img {
    height: 600px;
    border-radius: 10px;
}

.about-container {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    flex-direction: column;
    margin-top: 30px;
    font-family: Poppins;
    color: white;
}

.academics-container, .section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 7vw;
    flex-direction: column;
    font-family: Poppins;
    color: white;
}

.acad-heading, .section-heading {
    font-size: 50px;
    margin-top: 10vw;
    text-align: center;
    padding: 10px;
    width: auto;
    color: white;
    background-color: #FF4081;
    border-radius: 20px;
    font-weight: bold;
}

.acad-img-container, .section-img-container {
    margin-top: 30px;
}

.acad-img, .section-image {
    /* height: 500px; */
    width: 60vw;
    border-radius: 2vw;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.acad-img:hover, .section-image:hover {
    transform: scale(1.02);
    transition: 0.2s ease-in-out;
    opacity: 0.9;
    z-index: 1;
}

.acad-img:active, .section-image:active {
    transform: scale(1);
    transition: 0.2s ease-in-out;
}

.acad-about-container, .about-container {
    width: 700px;
    margin-top: 2vw;
    text-align: center;
}

.section {
    margin-top: 50px;
    height: 100vh;
}

.disclaimer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    font-family: Poppins;
    color: white;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.footer-container {
    width: 100%;
    box-sizing: border-box;
    background-color: #FF4081;
    padding: 2vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 10vw;
    margin-top: auto;
}

.footer-link {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.footer-link:hover {
    border-color: white;
}

.footer-link:active {
    border-color: white;
}
.footer-link:visited {
    color: white;
}               